<div class="contact-edit">
    <form (clickOutSide)="onBack()" [formGroup]="contactForm" (submit)="onSaveContact($event)">
        <label for="name">
            Contact Name :
            <input id="name" required type="text" formControlName="name">
            @if(contactForm.controls['name']; as contactName){

            @if(editing){
            @if (contactName.invalid) {
            <p class="errors">
                @if (contactName.errors?.['required']) {
                <span>Name is required</span>
                }
                @if (contactName.errors?.['OnlyEnglishLetters']; as errorMsg) {
                <span>{{errorMsg}}</span>
                }
            </p>
            }
            @if(contactName.pending && contactName.dirty){
            <span>Fetching for name...</span>
            }
            }@else{
            @if (contactName.invalid && contactName.touched) {
            <p class="errors">
                @if (contactName.errors?.['required']) {
                <span>Name is required</span>
                }
                @if (contactName.errors?.['nameTaken']; as errorMsg) {
                <span>{{errorMsg}}</span>
                }
                @if (contactName.errors?.['OnlyEnglishLetters']; as errorMsg) {
                <span>{{errorMsg}}</span>
                }
            </p>
            }
            }
            }
        </label>
        <label for="phone">
            Contact Phone :
            <input id="phone" required type="text" formControlName="phone">
            @if(contactForm.controls['phone']; as contactPhone){
            @if (editing) {
            @if (contactPhone.invalid) {
            <p class="errors">
                @if (contactPhone.errors?.['required']) {
                <span>phone Number is required</span>
                }
                @if (contactPhone.errors?.['minlength']) {
                <span>Number must be Minimum 6 figures</span>
                }
            </p>
            }
            }@else {
            @if (contactPhone.invalid && contactPhone.touched ) {
            <p class="errors">
                @if (contactPhone.errors?.['required']) {
                <span>phone Number is required</span>
                }
                @if (contactPhone.errors?.['minlength']) {
                <span>Number must be Minimum 6 figures</span>
                }
            </p>
            }
            }
            }
        </label>
        <label for="email">
            Contact Email :
            <input id="email" required type="email" formControlName="email">
            @if (contactForm.controls['email']; as contactEmail) {
            @if (contactEmail.invalid && contactEmail.touched) {
            <p class="errors">
                @if (contactEmail.errors?.['required']) {
                <span>Email is required</span>
                }
                @if (contactEmail.errors?.['mustContainHash'];as errorMsg) {
                <span>{{errorMsg}}</span>
                }
            </p>
            }
            }
        </label>
        <label for="birthday">
            Contact birthday :
            <input id="birthday" required type="date" formControlName="birthday">
        </label>

        <section class="actions">
            <button type="submit" [disabled]="!contactForm.valid">Save</button>
            <button type="button" (click)="onBack()">Back</button>
        </section>
    </form>

</div>