.chart-container {
    display: grid;
    place-self: center;
    place-content: center;

    margin: 5px 5px;

    padding: 5px;
    height: 290px;
    width: 460px;
    background: #ffffff;
    text-align: center;

    border-radius: 8px;

    google-chart {
        place-self: center;
        padding: 10px;
        // display: grid;
        // place-items: center;
        // grid-auto-flow: column;
        // grid-template-columns: 80vw;
        // width: 100%;
        // height: 280px;
    }
}