:host {
    .main-container {
        display: grid;
        gap: 10px;

        .user-info {
            display: grid;
            padding: 1em;

            border-radius: 1vh;
            border: 1px black solid;

            text-align: center;
            background-color: bisque;

            .balance {
                display: grid;
                place-content: center;
                gap: 5px;


                .funds {
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    grid-auto-flow: column;

                    gap: 10px;
                    padding: .2em .5em;

                    border-radius: 1vh;
                    border: 1px black solid;

                    text-align: center;
                    background-color: white;


                    align-items: center;

                    img {
                        width: 50px;
                    }
                }

            }
        }

        .transfers {
            display: grid;

            gap: 5px;

            border-radius: 1vh;
            border: 1px black solid;

            text-align: center;
            background-color: bisque;

            .transfer {
                display: grid;
                padding: .5em;

                

                // text-align: justify;
                background-color: white;
                border-radius: 1vh;
                border: 1px black solid;

                .details {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
                    // minmax(100px, 1fr) minmax(100px, 1fr) minmax(150px, 1fr);
                    grid-auto-flow: dense;

                    padding: 5px;
                    gap: 10px;

                    place-items: center;

                    span {
                        width: 100%;
                        text-decoration: underline;
                        text-underline-offset: 5px;
                    }
                }
            }
        }

        .actions {
            display: flex;

            padding: 1em;

            justify-content: space-around;

            border-radius: 1vh;
            border: 1px black solid;

            text-align: center;
            background-color: bisque;

            button {
                border-radius: .5vh;
                padding: 5px;
            }
        }
    }


}