:host {
    .main-container {
        display: grid;
        gap: 10px;

        .user-info {
            display: grid;
            padding: 1em;

            border-radius: 1vh;
            border: 1px black solid;

            text-align: center;
            background-color: bisque;

            .balance {
                display: grid;
                place-content: center;
                gap: 5px;

                div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-auto-flow: column;

                    align-items: center;
                }

                img {
                    place-self: center;
                    width: 50px;
                }

            }
        }

        .transfers {
            display: grid;

            padding: 1em;
            gap: 5px;

            border-radius: 1vh;
            border: 1px black solid;

            text-align: center;
            background-color: bisque;

            .transfer {
                display: grid;
                grid-template-columns: minmax(150px, 1fr) minmax(100px, 1fr) minmax(150px, 1fr);
                grid-auto-flow: dense;

                padding: 5px;
                gap: 10px;

                text-align: justify;
                background-color: white;
                border-radius: 1vh;
                border: 1px black solid;


                span {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                }
            }
        }

        .actions {
            display: flex;

            padding: 1em;

            justify-content: space-around;

            border-radius: 1vh;
            border: 1px black solid;

            text-align: center;
            background-color: bisque;

            button {
                border-radius: .5vh;
                padding: 5px;
            }
        }
    }


}