:host{
    display: grid;

    place-items: center;

    gap: 10px;
    .simple-cards-grid{
        padding: 1em;

        border-radius: 1vh;
        border: 1px black solid;

        text-align: center;
        background-color: bisque;
        img{
            place-self: center;
            width: 80%;
        }
    }

    button{
        display: grid;
        padding: .5em;

        font-size: 1.5em;

        background-color: bisque;
        border-radius: 1vh;
    }
}