   .contact-preview-container {

       .contact-preview {
           display: grid;
           grid-auto-flow: column;
           grid-template-columns: 50px 1fr auto;

           width: 240px;
           padding: 15px;
           gap: 15px;

           align-items: center;
           justify-items: center;

           border-radius: 5vh;
           background-color: gray;

           section {
               display: flex;

               button {
                   display: grid;
                   place-content: center;


                   width: fit-content;
                   height: 22px;


                   text-align: center;
                   border-radius: 10px;
               }
           }

           img {

               width: 50px;
               height: 50px;
           }
       }
   }