    .contact-preview {
        position: relative;
        display: flex;

        width: 220px;
        padding: 15px 25px 15px 0;
        gap: 15px;

        align-items: center;
        justify-content: center;

        border-radius: 5vh;
        background-color: gray;

        button {
            display: grid;
            place-content: center;
            position: absolute;
            right: 10px;


            width: 22px;
            height: 22px;


            text-align: center;
            border-radius: 10px;
        }

        img {

            width: 50px;
            height: 50px;
        }
    }