    .contact-preview {
        display: flex;

        width: 250px;
        padding: 15px;

        gap: 15px;

        align-items: center;
        justify-content: space-evenly;

        border-radius: 5vh;
        background-color: gray;

        img {
            
            width: 50px;
            height: 50px;
        }
    }
