   .contact-preview-container{

       .contact-preview {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 50px 110px 5px;

        width: 220px;
        padding: 15px 25px 15px 0;
        gap: 15px;

        align-items: center;
        justify-content: center;

        border-radius: 5vh;
        background-color: gray;

        button {
            display: grid;
            place-content: center;
            margin-inline-start: 10px;

            
            width: 22px;
            height: 22px;

            
            text-align: center;
            border-radius: 10px;
        }
        
        img {

            width: 50px;
            height: 50px;
        }
    }
}