<div class="charts-main-container" [class.empty-data]="!marketPrice || !blockSize || !tradeVolume">
    <ng-container *ngIf="marketPrice && blockSize && tradeVolume ; else noData">
        <market-price-chart />
        <section class="two-charts">
            <market-block-size />
            <market-trade-volume />
        </section>
    </ng-container>
    <ng-template class="empty-data" #noData>
        Problem Getting
        <br>
        <span *ngIf="!marketPrice">Market Price</span>
        <br>
        <span *ngIf="!blockSize">Block Size </span>
        <br>
        <span *ngIf="!tradeVolume">Trade Volume</span>
    </ng-template>
</div>