.charts-container {
    display: grid;
    gap: 10px;
    place-content: center;

    .two-charts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
        grid-auto-flow: dense;
        place-items: center;
    }
}