:host {
    display: grid;
    gap: 10px;
    place-content: center;

    &.charts-main-container {

        .two-charts {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
            grid-auto-flow: dense;
            place-items: center;

        }
    }



    .empty-data {
        display: grid;
        padding: 1em;

        width: fit-content;
        height: fit-content;
        
        text-align: center;
        background-color: wheat;
        
        border: 1px solid black;
        border-radius: 1vh;
    }
}