<button type="button" (click)="setSignupLogin($event)">{{Signup? 'Login' : 'Sing Up' }}</button>
<ng-container *ngIf="Signup; else login">
    <h4>Sing Up Please</h4>
    <form [formGroup]="userSigninForm" (submit)="onSignupUser($event)">
        <label for="user-name">
            <input required placeholder="Please enter name?" type="text" formControlName="name">
        </label>
        <label for="user-email">
            <input required placeholder="Please enter email?" type="email" formControlName="email">
        </label>
        <ng-container *ngIf="userSigninForm.controls['name'] as userName">
            <p class="errors" *ngIf="userName.touched && userName.invalid">
                <span *ngIf="userName.errors?.['required']">Name is required</span>
                <span *ngIf="userName.errors?.['OnlyEnglishLetters'] as errorMsg">{{errorMsg}}</span>
                <span *ngIf="userName.errors?.['userNameTaken'] as errorMsg">{{errorMsg}}</span>
            </p>
        </ng-container>
        <ng-container *ngIf="userSigninForm.controls['email'] as userEmail">
            <p class="errors" *ngIf="userEmail.touched && userEmail.invalid">
                <span *ngIf="userEmail.errors?.['required']">Email is required</span>
                <span *ngIf="userEmail.errors?.['mustContainHash'] as errorMsg">{{errorMsg}}</span>
            </p>
        </ng-container>
        <button type="submit"
            [disabled]="userSigninForm.controls['email'].invalid || userSigninForm.controls['name'].invalid">Sing Up
            User</button>

    </form>
</ng-container>
<ng-template #login>
    <img class="bitcoin" src="assets/img/bitcoinBig.png" alt="">
    <h4>Login Your Name Please</h4>
    <form [formGroup]="userLoginForm">
        <label for="user-name">
            <input required placeholder="what is you user name?" type="text" formControlName="name">
        </label>
        <ng-container *ngIf="userLoginForm.controls['name'] as userName">
            <p class="errors" *ngIf="userName.touched && userName.invalid">
                <span *ngIf="userName.errors?.['required']">Name is required</span>
                <span *ngIf="userName.errors?.['OnlyEnglishLetters'] as errorMsg">{{errorMsg}}</span>
                <span *ngIf="userName.errors?.['userNotSignin'] as errorMsg">{{errorMsg}}</span>
            </p>
        </ng-container>

        <button type="button" [disabled]="userLoginForm.controls['name'].invalid" (click)="onLogin($event)">Login</button>
    </form>
</ng-template>