<button type="button" (click)="setSignupLogin($event)">{{signup? 'Login' : 'Sing Up' }}</button>
@if (signup) {


<h4>Sing Up Please</h4>
<form [formGroup]="userSigninForm" (submit)="onSignupUser($event)">
    <label for="user-name">
        <input required placeholder="Please enter name?" type="text" formControlName="name">
    </label>
    <label for="user-email">
        <input required placeholder="Please enter email?" type="email" formControlName="email">
    </label>
    @if (userSigninForm.controls['name']; as userName) {
    @if (userName.touched && userName.invalid) {
    <p class="errors">
        @if (userName.errors?.['required']) {
        <span>Name is required</span>
        }
        @if (userName.errors?.['OnlyEnglishLetters']; as errorMsg) {
        <span>{{errorMsg}}</span>
        }
        @if (userName.errors?.['userNameTaken']; as errorMsg) {
        <span>{{errorMsg}}</span>
        }
    </p>
    }

    }
    @if (userSigninForm.controls['email']; as userEmail) {
    @if (userEmail.touched && userEmail.invalid) {
    <p class="errors">
        @if (userEmail.errors?.['required']) {
        <span>Email is required</span>
        }
        @if (userEmail.errors?.['mustContainHash']; as errorMsg) {
        <span>{{errorMsg}}</span>
        }
    </p>

    }

    }
    <button type="submit"
        [disabled]="userSigninForm.controls['email'].invalid || userSigninForm.controls['name'].invalid">Sing Up
        User</button>

</form>
}@else {
<img class="bitcoin" src="assets/img/bitcoinBig.png" alt="bitcoin image">
<h4>Login Your Name Please</h4>
<form [formGroup]="userLoginForm">
    <label for="user-name">
        <input required placeholder="what is you user name?" type="text" formControlName="name">
    </label>

    @if (userLoginForm.controls['name']; as userName) {
    @if (userName.touched && userName.invalid) {

    <p class="errors">
        @if (userName.errors?.['required']) {
        <span>Name is required</span>
        }
        @if (userName.errors?.['OnlyEnglishLetters']; as errorMsg) {
        <span>{{errorMsg}}</span>
        }
        @if (userName.errors?.['userNotSignin']; as errorMsg) {
        <span>{{errorMsg}}</span>
        }
    </p>
    }
    }
    <button type="button" [disabled]="userLoginForm.controls['name'].invalid" (click)="onLogin($event)">Login</button>
</form>
}