:host {
    display: grid;
    grid-auto-flow: column;

    justify-content: space-around;
    align-items: center;

    text-decoration: underline dashed;
    text-underline-offset: 5px;

    background-color: bisque;
    h2 {
        grid-column: 1;
        place-self: center;
    }

    section {
        grid-column: 2;

        display: flex;
        // margin-inline-start: auto;

        gap: 10px;

        >* {
            cursor: pointer;

            &.active{
                color: red;
            }
            &:hover {
                color: blue;
            }
        }
    }
}