header {
    position: relative;
    display: grid;
    grid-auto-flow: column;

    justify-content: space-around;
    align-items: center;


    background-color: bisque;

    h2 {
        place-self: center;
    }

    section {

        display: flex;
        // margin-inline-start: auto;
        text-decoration: underline dashed;
        text-underline-offset: 5px;

        gap: 10px;

        >* {
            cursor: pointer;

            &.active {
                color: red;
            }

            &:hover {
                color: blue;
            }
        }
    }
}