<header [style.background-color]="curColor" [style.color]="curColor | textColor">
    <h2>my Bitcoin Wallet</h2>
    <button [style.background-color]="curColor | textColor" class="is-open-btn"
        (click)="onSetIsOpen($event)">🎨</button>
    <color-palette (isOpenChange)="onSetIsOpen($event)" (colorChange)="onSetColor($event)" [curColor]="curColor"
        [isOpen]="isOpen" />
    <section class="routes">
        @for (route of customRoutes; track route){
        @if ( route.name !== 'details'){
        <a routerLink="{{route.name}}" routerLinkActive="active">{{route.name}}</a>}
        }
    </section>
</header>