:host {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-flow: column;
    
    align-items: center;

    text-decoration: underline dashed;
    text-underline-offset: 5px;

    background-color: bisque;
    h2 {
        grid-column: 1;
        place-self: center;
    }

    section {
        grid-column: 2;

        display: flex;
        // margin-inline-start: auto;

        gap: 10px;

        >* {
            cursor: pointer;

            &:hover {
                color: blue;
            }
        }
    }
}