:host {
    position: relative;
    display: grid;

    // top: 30vh;
    // left: 40vw;

    form {
        display: grid;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        width: 200px;
        padding: .5em;
        
        row-gap: .5em;
        

        text-align: center;

        background-color: white;

        border-radius: 2vh;
        border: 2px black solid;

        section {
            display: flex;
            margin-top: 20px;
            justify-content: space-around;
        }
    }
}