.chart-container {
    display: grid;
    place-self: center;
    place-content: center;

    padding: 5px;
    width: 83vw;
    height: fit-content;

    background: #ffffff;
    text-align: center;

    border-radius: 8px;

    .google-chart {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 80vw;
        width: 100%;
        height: 280px;
    }
}