.chart-container {
    display: grid;
    grid-template-columns: minmax(150px, 85vw);

    padding: 5px;

    background: #ffffff;
    text-align: center;

    border-radius: 8px;

    google-chart {
        width: 100%;
        min-height: 280px;
    }
}