.chart-container {
    display: grid;
    grid-template-columns: minmax(460px, 85vw);

    place-self: center;
    place-content: center;

    padding: 5px;    height: fit-content;

    background: #ffffff;
    text-align: center;

    border-radius: 8px;

    .google-chart {
        width: 100%;
        height: 280px;
    }
}