:host {
    display: grid;
    .contacts-list {
        display: grid;
        place-items: center;
        gap: 10px;
        padding: 0;


        li {
            list-style: none;
        }
    }

    button {
        cursor: pointer;
        place-self: center;

        border-radius: 1vh;
    }
}