/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;

    background-color: rgb(168, 168, 168);
}

.errors {
    color: red;
}

body:has(.click-outside) {

    .click-outside,
    .click-outside * {
        pointer-events: all;
    }

    :not(.click-outside, .click-outside *) {
        pointer-events: none;
    }
}

h4 {
    margin: 10px;
}